//====================================================================================================
.page {
   display: grid;
   place-items: center;
   // .page__component

   &__component {
      border-radius: 32px;
      box-shadow: 0px 30px 60px 0px rgba(61, 108, 236, 0.15);
      background: rgb(255, 255, 255);

      @media (max-width:$mobileSmall) {
         border-radius: 0px;
      }
   }
}

.component {

   // .component__container

   &__container {
      display: flex;
      justify-content: center;

      @media (max-width:$mobileSmall) {
         flex-direction: column;
      }
   }

   // .component__info

   &__info {
      flex: 1 1 50%;
      display: grid;
      place-items: center;
      background: $bg-gradient;
      border-radius: 32px;

      @include adaptiveValue("padding-top", 38, 24);
      @include adaptiveValue("padding-right", 58, 54);
      @include adaptiveValue("padding-bottom", 40, 46);
      @include adaptiveValue("padding-left", 58, 54);

      @media (max-width:$mobileSmall) {
         border-radius: 0px 0px 32px 32px;
      }

   }

   // .component__title

   &__title {
      &:not(:last-child) {
         @include adaptiveValue("margin-bottom", 35, 24); // !
      }
   }

   // .component__circle

   &__circle {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: toRem(4);
      background: $bg-gradient-circle;
      border-radius: 50%;
      @include adaptiveValue("width", 200, 140);
      @include adaptiveValue("height", 200, 140);

      &:not(:last-child) {
         @include adaptiveValue("margin-bottom", 28, 24); //!
      }
   }

   // .component__score-avrg

   &__score-avrg {}

   // .component__score-full

   &__score-full {
      opacity: 0.52;
   }

   // .component__result

   &__result {}

   // .component__result-title

   &__result-title {
      text-align: center;

      &:not(:last-child) {
         @include adaptiveValue("margin-bottom", 14, 8);
      }
   }

   // .component__result-compasion

   &__result-compasion {
      text-align: center;

   }

   // .component__summary

   &__summary {
      flex: 1 1 50%;
      @include adaptiveValue("padding-top", 38, 24);
      @include adaptiveValue("padding-right", 40, 30);
      @include adaptiveValue("padding-bottom", 46, 30);
      @include adaptiveValue("padding-left", 40, 30);
   }

   // .component__summary-body

   &__summary-body {
      display: flex;
      justify-content: center;
      flex-direction: column;
      gap: toRem(16);

      &:not(:last-child) {
         @include adaptiveValue("margin-bottom", 41, 24);
      }
   }

   // .component__summary-rectangle

   &__summary-rectangle {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
      padding: toRem(16);
      border-radius: 12px;
      background-blend-mode: overlay;
      z-index: 0;

      &::before {
         content: "";
         position: absolute;
         inset: 0;
         background-color: rgba(255, 255, 255, 0.95);
         border-radius: inherit;
         pointer-events: none;
         z-index: -1;
      }

      &--red {
         background-color: $red-color;
      }

      &--yellow {
         background-color: $yellow-color;
      }

      &--green {
         background-color: $green-color;
      }

      &--blue {
         background-color: $blue-color;
      }
   }


   // .component__summary-content

   &__summary-content {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: toRem(12);

      img {
         max-width: 100%;
      }
   }

   // .component__summary-num

   &__summary-num {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: toRem(8);
   }

   // .component__summary-icon

   &__summary-icon {}

   // .component__summary-text

   &__summary-text {}

   // .component__summary-score

   &__summary-score {}

   // .component__summary-compasion

   &__summary-compasion {}

   // .component__button

   &__button {}
}

.title {}

//====================================================================================================